In [13]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Skopelos,GR,2022-06-05 21:37:18,39.1247,23.7247,81.21,70,1,3.87
1,1,Port Alfred,ZA,2022-06-05 21:37:18,-33.5906,26.8910,57.18,89,10,15.82
2,2,Mataura,NZ,2022-06-05 21:37:18,-46.1927,168.8643,45.03,83,0,3.20
3,3,Rikitea,PF,2022-06-05 21:37:19,-23.1203,-134.9692,73.69,78,16,17.56
4,4,Caravelas,BR,2022-06-05 21:37:19,-17.7125,-39.2481,69.31,72,68,9.06

In [15]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [21]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [22]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [23]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [24]:
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [28]:
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Skopelos,GR,2022-06-05 21:37:18,39.1247,23.7247,81.21,70,1,3.87
5,5,Kapaa,US,2022-06-05 21:37:20,22.0752,-159.3190,79.48,74,100,10.36
6,6,Itarema,BR,2022-06-05 21:37:20,-2.9248,-39.9167,77.16,85,29,11.01
10,10,Lompoc,US,2022-06-05 21:33:03,34.6391,-120.4579,88.57,71,0,24.00
11,11,Bethel,US,2022-06-05 21:36:55,41.3712,-73.4140,77.18,38,0,5.75
12,12,Butaritari,KI,2022-06-05 21:37:22,3.0707,172.7902,81.68,71,70,11.74
15,15,Kunya,NG,2022-06-05 21:37:23,12.2233,8.5325,78.96,61,20,3.44
16,16,Seabrook,US,2022-06-05 21:37:24,38.9679,-76.8450,81.05,42,0,6.91
18,18,Mubi,NG,2022-06-05 21:37:24,10.2676,13.2644,77.68,62,79,2.15
21,21,Vaini,TO,2022-06-05 21:37:26,-21.2000,-175.2000,78.96,73,40,5.75

In [34]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0     Skopelos      GR     81.21  39.1247   23.7247
5        Kapaa      US     79.48  22.0752 -159.3190
6      Itarema      BR     77.16  -2.9248  -39.9167
10      Lompoc      US     88.57  34.6391 -120.4579
11      Bethel      US     77.18  41.3712  -73.4140
12  Butaritari      KI     81.68   3.0707  172.7902
15       Kunya      NG     78.96  12.2233    8.5325
16    Seabrook      US     81.05  38.9679  -76.8450
18        Mubi      NG     77.68  10.2676   13.2644
21       Vaini      TO     78.96 -21.2000 -175.2000

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Hotel added to DF")
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Skopelos,GR,81.21,39.1247,23.7247,Skopelos Village Hotel
5,Kapaa,US,79.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Itarema,BR,77.16,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
10,Lompoc,US,88.57,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
11,Bethel,US,77.18,41.3712,-73.4140,Courtyard by Marriott Danbury
12,Butaritari,KI,81.68,3.0707,172.7902,Isles Sunset Lodge
15,Kunya,NG,78.96,12.2233,8.5325,
16,Seabrook,US,81.05,38.9679,-76.8450,Metro Points Hotel
18,Mubi,NG,77.68,10.2676,13.2644,LASVEGAS BAR AND MOTEL
21,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))